APP_SERVER={{ ansible_default_ipv4.address }}
APP_PORT={{ env_port_6 }}
CONSUL_HOST={{ consul_host }}
CONSUL_PORT={{ consul_port }}
UFOS_LOGIN={{ ufos_login }}
UFOS_PASSWORD={{ ufos_password }}
REG_UFOS={{ ufos_reg }}
ASSIGN_UFOS={{ ufos_assign }}
NSI_UFOS={{ ufos_nsi }}
KAFKA_SERVER={{ kafka_server }}:{{ kafka_port }}
ACCRUAL_KAFKA_TOPIC={{ accrual_kafka_topic }}
KAFKA_TOPIC={{ kafka_topic }}
ufos.reg={{ ufos_reg }}
ufos.assign={{ ufos_assign }}
ufos.nsi={{ ufos_nsi }}
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
REDIS_LOGIN={{ redis_login }}
REDIS_PASSWORD={{ redis_password }}
REDIS_TOPIC={{ redis_topic }}
